<div class="container">
  <div class="col-sm-6">
  <ul>
    <li><a href="/question_catagories/new">Question Catagory</a></li>
    <li><a href="/questions/new">Questions</a></li>
    <li><a href="/businesses/new">Businesses</a></li>
    <li><a href="/positions/new">Positions</a></li>
    <li><a href="/project_catagories/new">Project Catagory</a></li>
    <li><a href="/reports/new"></a></li>
  </ul>
  </div>
</div>
