<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @interview_type.type %>
</p>

<%= link_to 'Edit', edit_interview_type_path(@interview_type) %> |
<%= link_to 'Back', interview_types_path %>
